.field_with_errors
  @extend .has-error
  display: inline

.radio-inline-lg
  // padding-left: 20px
  padding-right: 30px

.shake
  +animation(shake 400ms ease-in-out)


#flash
  position: fixed
  z-index: 1500
  top: 70px
  font-size: 1.2em
  width: 100%
  text-align: center
  span.alert
    padding: 10px 14px